doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title Martha Megarry
      link(href="venders/uikit.min.css" rel="stylesheet")
      link(href="css/styles.css" rel="stylesheet")
      script(type="text/javascript" src="venders/jquery.min.js")
      script(type="text/javascript" src="venders/uikit.min.js")
      script(type="text/javascript" src="venders/parallax.min.js")
      script(type="text/javascript" src="venders/sticky.min.js")
      script(type="text/javascript" src="venders/button.min.js")
   body.uk-container-center
      header.uk-grid
         .uk-width-9-10
            nav.uk-navbar(data-uk-sticky)
               ul.uk-navbar-nav(data-uk-switcher="{connect:'#mainswitch'}")
                  li
                     a(href="") Home
                  li
                     a(href="") Portfolio
                  li
                     a(href="") Resume
                button.uk-button.uk-button-success.topbutton(href="#") Hire Me!
      main
         ul.uk-switcher#mainswitch
            li.uk-grid
               .uk-width-medium-1-3
                 img.mothpic(src="images/MMegarryMoth.gif", alt="moth illustration drawn by Martha")
               .uk-width-medium-2-3
                 h1 Martha Megarry
                 p Martha is a software engineer, artist and musician from Minneapolis, MN. She has a passion for learning new things and writing awesome code. She is especially interested in the web, games and robots. Martha has been described as "more hilarious than a banana in the sky" and loves bugs (except in her code.)
                 a.uk-button.uk-button-success.uk-button-large(href="#", target="_blank", type="button") Hire Me!
            li
               h1 Portfolio
               article.uk-article.uk-grid
                       .uk-width-medium-1-1
                           h2.uk-article-title Krustacean Kombat
                       .uk-width-medium-1-2
                           p Role: Programmer
                           p At Midwest Game Jam 2015 the theme was "The Tropics" so of course we made a head to head crab fighting game because everyone has secretly always wanted to play a crab that can cut off another crab's pinchers. I worked mostly on programming the pinchers themselves with the help of Shanti Prothpegada aka TheMissingLint. Download and enjoy!
                           p
                               a(href="http://gamejolt.com/games/krustacean-kombat/109465", target="_blank") Download Krustacean Kombat here! (for Windows, Mac and Linux)
                           p Tech Used:
                               .tech Unity
                               .tech C#
                       .uk-width-medium-1-2
                           img(src="images/KrustaceanKombat.jpeg" alt="Screenshot from Krustacean Kombat")
               article.uk-article.uk-grid
                  .uk-width-medium-1-1
                    h2.uk-article-title Nordeast Makers Space
                  .uk-width-medium-1-2
                      p Role: Lead Developer/ Backend Developer
                      p The Makers Space needed a way to sign new members up efficiently and let current members reserve time on the different machines they have available in the space. This site allows users to quickly sign up for an account by interfacing with the Freshbooks/Stripe API to process payments. It helps them share time on the machines by letting them reserve time on a calendar for each machine up to the daily and weekly limits without allowing double booking. It also gives admins a way to address problems quickly by giving users an interface to report broken machines. Our solution gives the Nordeast Makers back the valuable time they need to continue their passion: making things.
                      p
                        a(href="https://github.com/JScearcy/nordeastmakers", target="_blank") Nordeast Makers Web App on GitHub
                      p Tech Used:
                        .tech MEAN stack
                        .tech MongoDB
                        .tech Express.js
                        .tech AngularJS
                        .tech Node.js
                        .tech Angular Material
                        .tech Jade
                        .tech Gulp
                        .tech HTML5
                        .tech CSS3
                   .uk-width-medium-1-2
                    img(src="images/nordeasttools.jpg" alt="Nordeast Makers Website Screenshot of the Tool Management Page")
               article.uk-article.uk-grid
                  .uk-width-medium-1-1
                    h2.uk-article-title Minneapolis Southwest High School
                  .uk-width-medium-1-2
                    p Role: Full Stack Developer
                    p The Southwest High School costume shop needed a way to keep track of their costumes and know if they were already checked out for a production. This site built in the MEAN stack with Bootstrap will help costume designers stay organized and choose the best costumes for the show through powerful search tools and the ability to check costumes in and out from a production.
                    p
                        a(href="https://github.com/MarthaMegarry/costume_inventory_app_3", target="_blank") Southwest Costume Inventory on GitHub
                    p Tech Used:
                          .tech MEAN stack
                          .tech MongoDB
                          .tech Express.js
                          .tech AngularJS
                          .tech Node.js
                          .tech Bootstrap
                          .tech HTML5
                          .tech CSS3
                  .uk-width-medium-1-2
                    img(src="images/southwesttopbar.jpg" alt="Screenshot of the southwest high school costume shop inventory")
               article.uk-article.uk-grid
                   .uk-width-medium-1-1
                       h2.uk-article-title ColorWheel Gallery
                   .uk-width-medium-1-2
                       p Role: Freelance Developer/Designer
                       p Tammy Ortegon, the owner of the ColorWheel Gallery, needed an organized, attractive and easy to use solution to bring new customers to her shop. The new site built in WordPress with a custom child theme solidifies her brand by bringing together her social media feeds, allowing users to sign up for her new MailChimp newsletters and tying it all up with a visual design that matches her colorful art and powerful personality. Tammy is a force for social change and now she has a site that can keep pace with her ideas, broadcast her voice to the world and bring people off the page and into the door of her shop.
                       p
                        a(href="http://colorwheelgallery.com", target="_blank") www.colorwheelgallery.com
                       p Tech Used:
                           .tech WordPress
                           .tech Child Theme
                           .tech HTML5
                           .tech CSS3
                   .uk-width-medium-1-2
                       img(src="images/colorwheelgallery.jpg" alt="Screenshot of the color wheel gallery home page")
               article.uk-article.uk-grid
                   .uk-width-medium-1-1
                       h2.uk-article-title Tapestry Folkdance Center
                   .uk-width-medium-1-2
                       p Role: Lead Developer/Designer
                       p Tapestry Folkdance Center is over thirty years old and their website and logo was showing the years. They needed to draw in new young dancers with a fresh look that could be viewed on phones and was easy for staff to update and maintain. With the help of a member of the community who acted as a sound board and guide, I built Tapestry a solution using WordPress with a custom child theme. This new site is helping bring in a younger crowd of dancers by being easy to read on any device and being attractive and colorful with photos and videos of the dances and an updated color logo. The solution gives back time to the part time staff at Tapestry by being easy to update with the WordPress interface and the Website Users Guide I wrote. Now Tapestry has the tools to attract new dancers so they can be ready for the next 30 years. Happy Dancing!
                       p
                        a(href="http://www.tapestryfolkdance.org", target="blank") www.tapestryfolkdance.org
                       p Tech Used:
                           .tech WordPress
                           .tech Child Theme
                           .tech HTML5
                           .tech CSS3
                   .uk-width-medium-1-2
                       img(src="images/tapestryfolkdancecenter.jpg" alt="Tapestry Website Screenshot")
            li.resume
               h1 Resume
               h2 Technical Skills
               article.uk-article.uk-grid
                  .uk-width-medium-1-3
                    p HTML5
                    p CSS3
                    p JavaScript
                    p jQuery
                    p Bootstrap
                    p Uikit
                    p Handlebars
                    p Jade
                    p Angular Material
                  .uk-width-medium-1-3
                    p AngularJS
                    p MongoDB
                    p Express.js
                    p Node.JS
                    p PostgreSQL
                    p Grunt
                    p Gulp
                    p Git/GitHub
                    p Heroku
                  .uk-width-medium-1-3
                    p RESTfull API's
                    p JSON
                    p Scalar
                    p WordPress
                    p Wordpress Child Themes
                    p Photoshop
                    p Illustrator
                    p InDesign
                    p Videography
               h2 Up Next: Skills I am working on adding to my tool belt
               article.uk-article.uk-grid
                  .uk-width-medium-1-3
                    p PHP
                    p Ruby on Rails
                  .uk-width-medium-1-3
                    p Java/Groovy
                  .uk-width-medium-1-3
                    p Unity
               h2 Software Development Experience
               article.uk-article
                  h3 Prime Digital Academy
                  p.uk-article-meta Software Engineering Student  June 2015-October 2015
                  p Solo Project: Costume Inventory Database for Southwest High School Costume Shop - The costume shop needed a way to keep track of their costumes and know if they were already checked out for a production. This site built in the MEAN stack with Bootstrap will help costume designers stay organized and choose the best costumes for the show through powerful search tools and the ability to check costumes in and out from a production.
                  p Group Project: Tool Reservation System for Nordeast Makers Space Role: Lead Developer. The Makers Space needed a way to sign new members up efficiently and let them reserve time on the different machines they have available in the space. This site built in the MEAN stack with Angular Material allows users to quickly sign up for an account by interfacing with the Freshbooks/Stripe API to process payments and helps them share time on the machines by giving them the ability to reserve time on a calendar for each machine.
                  p Presented an “Icebreaker” speech at the Nerdery Toastmasters Club
               article.uk-article
                  h3 Tapestry Folkdance Center
                  p.uk-article-meta Marketing and Technical Assistant  March 2013- July 2015
                  p Designed and created a new WordPress website with a custom child theme with mentorship by a local freelance web developer
                  p Led the project to research and buy new computers for the office
                  p Day to day tasks included space rental management, email and social     media marketing, paper marketing material design and website     management
               article.uk-article
                  h3 University of Minnesota Sociology Department
                  p.uk-article-meta Research Assistant  Feb 2014 – July 2015
                  p Created web interfaces with Scalar/WordPress for collecting stories that explore food policy and its effect on communities.
               article.uk-article
                  h3 Freelance Web Design/Development Projects
                  p.uk-article-meta November 2015 – August 2015
                  p ColorWheel Salon and Gallery: Designed and built new WordPress website with a custom child theme, set up MailChimp integration and migrated site to a new server.
                  p Neomandala: Built new WordPress site and set up a MailChimp account for client.
                  p North Psychology Clinic: Migrated website to a new server, transferred domain to a new registrar, fixed broken pages and code, updated with new pages using HTML5 and CSS3, created training guides for using the blog and set-up MailChimp account for the clinic.
               h2 Other Professional Experience
               article.uk-article
                  h3 Minneapolis Parks and Recreation
                  p.uk-article-meta Theater, Dance and Art Teacher June 2009 – April 2014
                  p Taught children aged 4-18 theater, art and dance based around a country/culture theme. Then we helped the kids put together a show based on their interpretations of what they learned.
               article.uk-article
                  h3 University of Minnesota Entomology Department
                  p.uk-article-meta Bee Lab Lab Assistant  November 2010 – August 2011
                  p Performed research with bumblebees and honeybees on the effect of pesticides on pollinators.
               h2 University Education:
               article.uk-article
                  h3 University of Minnesota-Twin Cities
                  p Bachelor of Arts (B.A.), Linguistics 2008–2012
                  p Minor in Entomology
                  p Member/building-owner/resident at The Students' Cooperative Inc.
                  p Study Abroad: Volunteer with World Wide Opportunities on Organic Farms in Finland Summer 2011
               h2 Other Activities:
               p Irish flute player with the Center for Irish Music’s Young Adult Ensemble
            li
                h1 Hire me!
      footer.uk-grid.space
        .uk-width-1-1
          p
            a.uk-icon-twitter.uk-icon-medium(href="https://twitter.com/MarthaMegarry", target="_blank")
            a.uk-icon-linkedin.uk-icon-medium(href="https://www.linkedin.com/pub/martha-megarry/50/43b/558", target="_blank")
            a.uk-icon-github.uk-icon-medium(href="https://github.com/MarthaMegarry", target="_blank")
        .uk-width-1-1
          p.uk-icon-copyright Martha Megarry 2015
