//Created by Mothra on 12/02/2016.
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Martha Megarry
        script(type="text/javascript" src="scripts/jquery.min.js")
        script(type="text/javascript" src="scripts/jquery-ui.min.js")
        script(type="text/javascript" src="scripts/app.min.js")
        link(href='https://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="css/jquery-ui.css")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/skeleton.css")
        link(href="css/newstyle.css" rel="stylesheet")
    body
        .section.title
            .container
                .row
                    .twelve.columns
                        h1 Martha Megarry
                        h2 Code Design Art
        .section.portfolio
            .container
                .row
                    .twelve.columns
                        h3 Portfolio
            .container#tabs
                .row
                    ul
                        li.three.columns
                            a(href="#pane1")
                                .pic
                                    p Chimera Genesis
                        li.three.columns
                            a(href="#pane2")
                                .pic
                                    p Claw Breaker
                        li.three.columns
                            a(href="#pane3")
                                .pic
                                    p Nordeast
                        li.three.columns
                            a(href="#pane4")
                                .pic
                                    p Southwest
                .row#pane1
                    .twelve.columns
                        p This is showing yay!
                .row#pane2
                    .twelve.columns
                        p This is now showing yay!
                .row#pane3
                    .twelve.columns
                        p This is now now showing yay!
                .row#pane4
                    .twelve.columns
                        p This is now now now showing yay!
        .section.portfolio
            .container#tabs2
                .row
                    ul
                        li.three.columns
                            a(href="#pane5")
                                .pic
                                    p Color Wheel
                        li.three.columns
                            a(href="#pane6")
                                .pic
                                    p Tapestry
                        li.three.columns
                            a(href="#pane7")
                                .pic
                                    p Valentine
                        li.three.columns
                            a(href="#pane8")
                                .pic
                                    p Art Shanty Project
                    .row#pane5
                        .twelve.columns
                            p This is showing yay!
                    .row#pane6
                        .twelve.columns
                            p This is now showing yay!
                    .row#pane7
                        .twelve.columns
                            p This is now now showing yay!
                    .row#pane8
                        .twelve.columns
                            p This is now now now showing yay!
        .section.skills
            .container
                .row
                    .twelve.columns
                        h3 Skills

