footer {
    height: 50px;
    background-color: #ed815f;
    margin-top: 30px;
    text-align: center;
}

footer a {
    color: #800080;
    margin-left: 10px;
}

nav {
    padding-left: 10%;
    padding-right: 10%;
}

.uk-switcher li {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    color: #800080;
}

.space {
    margin-top: 10px;
}

.resume p {
    padding-left: 25px;
}